<h2><span>Current Key and Scale:</span><br><span id="CURRENT_KEY2">C</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="CURRENT_SCALE2">IONIAN</span></h2>
<br>
<h3>SELECT KEY</h3>
<button id="A_btn" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button><button id="AsBf_btn">&nbsp;A#/Bb&nbsp;</button><button id="B_btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button><button id="C_btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button><button id="CsDf_btn">&nbsp;C#/Db&nbsp;</button><button id="D_btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button><button id="DsEf_btn">&nbsp;D#/Eb&nbsp;</button><button id="E_btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button><button id="F_btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button><button id="FsGf_btn">&nbsp;F#/Gb&nbsp;</button><button id="G_btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;G&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button><button id="GsAf_btn">&nbsp;G#/Ab&nbsp;</button>
<br>
<h3>SELECT SCALE</h3>
<p>Major Scale and its Modes:</p>
<button id="Ionian_btn">Ionian (Major)</button><button id="Dorian_btn">Dorian</button><button id="Phrygian_btn">Phrygian</button><button id="Lydian_btn">Lydian</button><button id="Mixolydian_btn">Mixolydian</button><button id="Aeolian_btn">Aeolian (Minor)</button><button id="Locrian_btn">Locrian</button>
<p>Melodic Minor Scale and its Modes:</p>
<button id="MelodicMin_btn">Melodic Minor</button><button id="MelodicMin2_btn">Dorian b2</button><button id="MelodicMin3_btn">Lydian #5</button><button id="MelodicMin4_btn">Lydian Dominant</button><button id="MelodicMin5_btn">Mixolydian b6</button><button id="MelodicMin6_btn">Aeolian b5</button><button id="MelodicMin7_btn">Super Locrian b7</button>
<p>Harmonic Minor Scale and its Modes:</p>
<button id="HarminocMin_btn">Harmonic Minor</button><button id="HarminocMin2_btn">Locrian 6</button><button id="HarminocMin3_btn">Ionian #5</button><button id="HarminocMin4_btn">Dorian #4</button><button id="HarminocMin5_btn">Phrygian Dominant</button><button id="HarminocMin6_btn">Lydian #2</button><button id="HarminocMin7_btn">Super Locrian bb7</button>
<p>Pentatonic Scales</p>
<button id="MajPent_btn">Major Pentatonic</button><button id="MinPent_btn">Minor Pentatonic</button>
<p>CONTACT ME TO REQUEST MORE!</p>
<br>