<h2><span>Scale and Chord Chart for:</span><br><span id="CURRENT_KEY">C</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="CURRENT_SCALE">IONIAN</span></h2>
<!-- <p id="CURRENT_SCALE">IONIAN</p> -->
<div style="overflow-x:auto;">
  <table class="topTable">
    <!-- <tbody> -->
      <col id="col0"/><col id="col1"/><col id="col2"/><col id="col3"/><col id="col4"/><col id="col5"/><col id="col6"/><col id="col7"/><col id="col8"/><col id="col9"/>
      <tr id="NOTE_ROW">
        <td>NOTE</td><td>a</td><td>b</td><td>c</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td>
      </tr>
      <tr id="DEGREE_ROW">
        <td>DEGREE</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td>
      </tr>
      <tr id="SEMITONE_ROW">
        <td>SEMITONES FROM ROOT</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td>
      </tr>
      <tr id="TRIAD_ROW">
        <td>TRIAD NAME</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td>
      </tr>
      <tr id="TRIAD_NOTES_ROW">
        <td>TRIAD NOTES</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td>
      </tr>
      <tr id="SEVENTH_ROW">
        <td>SEVENTH CHORD NAME</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td>
      </tr>
      <tr id="SEVENTH_NOTES_ROW">
        <td>SEVENTH CHORD NOTES</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td><td>a</td>
      </tr>
    <!-- </tbody> -->
  </table>
</div>
<br>