{% extends "base_html/noScalesBase.html"%}
{% block page %}

<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2 class="section-heading">4-Stringed Instruments</h2>
          <p>Bass, Ukulele, 4-Stringed Banjo, etc. all use the same page below:</p>
          <button><span><a href="/bass">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 STRINGED INSTRUMENTS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span></button>
          
          <h2 class="section-heading">5-Stringed Instruments</h2>
          <button><span><a href="/banjo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BANJO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span></button>
          <button><span><a href="/bass5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5-STRING BASS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span></button>
          
          <h2 class="section-heading">6-Stringed Instruments</h2>
          <button><span><a href="/guitar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GUITAR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span></button>
          
          <h2 class="section-heading">7-Stringed Instruments</h2>
          <button><span><a href="/guitar7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7-STRING GUITAR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span></button>
          
          <h2 class="section-heading">8-Stringed Instruments</h2>
          <button><span><a href="/guitar8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8-STRING GUITAR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span></button>
          
          <h2 class="section-heading">9-Stringed Instruments</h2>
          <button><span><a href="/guitar9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9-STRING GUITAR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span></button>
          
          <h2 class="section-heading">10-Stringed Instruments</h2>
          <button><span><a href="/guitar10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10-STRING GUITAR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span></button>
          
          <h2 class="section-heading">11-Stringed Instruments</h2>
          <button><span><a href="/guitar11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11-STRING GUITAR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span></button>
          
          <h2 class="section-heading">12-Stringed Instruments</h2>
          <button><span><a href="/guitar12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12-STRING GUITAR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span></button>
          

        </div>
      </div>
    </div>
  </article>

  <hr>


{% endblock %}