{% extends "base_html/noScalesBase.html"%}
{% block page %}

<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <p>Please contact me with bugs or requests. Be as specific as possible to help me address your concern!</p>
        </div>
      </div>
    </div>
  </article>

  <hr>


{% endblock %}